<f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
    <f:then>
        <p>The Frontend User Profile is disabled in backend mode.</p>
    </f:then>
    <f:else>
        <f:flashMessages class="flashmessages"/>
        <f:form action="update" object="{user}" objectName="user">
            <fieldset>
                <f:render partial="User/NameFormFields" arguments="{_all}"/>
            </fieldset>
            <fieldset>
                <f:render partial="User/ElectronicAddress/FormFields" arguments="{_all}" />
            </fieldset>
            <f:form.button type="submit">Update</f:form.button>
        </f:form>
    </f:else>
</f:security.ifAccess>

