<f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
    <f:then>
        <p>The Frontend User Login Form is disabled in backend mode.</p>
    </f:then>
    <f:else>
        <f:flashMessages as="flashMessages">
            <f:for each="{flashMessages}" as="flashMessage">
                <div data-alert class="alert-box {flashMessage.severity}">
                    {flashMessage.message}
                </div>
            </f:for>
        </f:flashMessages>
        <f:security.ifHasRole role="UpAssist.Neos.FrontendLogin:User">
            <f:then>
                <p>You're logged in as <strong>"{account.accountIdentifier}"</strong></p>
                <f:form action="logout" method="post" class="logout">
                    <f:form.button type="submit">{f:translate(id:'login.logout', package:'UpAssist.Neos.FrontendLogin', value: 'Log out')}</f:form.button>
                </f:form>
            </f:then>
            <f:else>
                <f:form action="authenticate" method="post" class="login">
                    <label for="username">{f:translate(id:'login.username', package:'UpAssist.Neos.FrontendLogin', value: 'Username')}</label>
                    <input name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]"
                           id="username" type="text" placeholder="{f:translate(id:'login.username', package:'UpAssist.Neos.FrontendLogin', value: 'Username')}"/>
                    <label for="password">{f:translate(id:'login.password', package:'UpAssist.Neos.FrontendLogin', value: 'Password')}</label>
                    <input name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]"
                           id="password"
                           type="password" placeholder="{f:translate(id:'login.password', package:'UpAssist.Neos.FrontendLogin', value: 'Password')}"/>
                    <f:form.button type="submit">{f:translate(id:'login.login', package:'UpAssist.Neos.FrontendLogin', value: 'Log in')}</f:form.button>
                </f:form>
            </f:else>
        </f:security.ifHasRole>
    </f:else>
</f:security.ifAccess>
