<fieldset>
    <label for="firstName">Firstname</label>
    <f:form.textfield property="name.firstName" id="firstName"/>
    <label for="lastName">Lastname</label>
    <f:form.textfield property="name.lastName" id="lastName"/>
</fieldset>